body{
    background-image: url(./assiste/what-are-employee-management-systems\ .jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 970px; */
}

/* Header */

header{
  
    height: 40px;
    background-color: lightskyblue;
    opacity: 80%;
}

header h1{
    
   position: absolute;
    left:700px;
    top: 15px; 
}
     

header nav{

    display: flex;
    justify-content: flex-end;
    
}

header a{

    position: absolute;
    top:15px;
    text-decoration: none;
    right: 10px;

}
/* main */
/* main{
   
       
        height: 890px;
 
} */
main table{
    position: absolute;
    left: 600px;
    top:150px;
     border: 5px solid;
     height: 400px;
     width: 600px;
     
     
 }
 
 main table th,table tr ,table td{
     
    background-color:lightcyan;
     border: 3px solid;
     text-align: center;
     
 }
 
 

/* footer */
footer{
  position: absolute;
    opacity: 80%;
  bottom: 0px;
    height: 40px;
    width: 100%;
    background-color:lightskyblue;
}

footer h2{

position: relative;
text-align: center;
top: 10px;
}

footer div{
width: 100px;
    display: flex;
align-items: flex-start;
justify-content:space-around ;



}
footer a{
   
    text-decoration: none;
    
}

.fa {
 
    font-size: 30px;
    height: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
   

  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  

  }

  .fa-instagram {
    background: #125688;
    color: white;

    
  }
  

  

  .formContiner{

    height: 30px;
    width: 800px;
   margin-top: 20px;
   margin-left: 10px;
   opacity: 80%;

  }


  /* .employeeForm{



  } */

  /* .formSelect{

    border: 2px solid #0b4979;
    border-radius: 15%;


  } */

  /* .inputForm{

    border: 2px solid #0b4979;

  } */

  /* .registerForm{

    border: 3px solid #0b4979;
    border-radius: 50%;
    background-color: #0b4979;
    height: 40px;
    width: 70px;

  } */


  .employeeCard{

    height: 350px;
    width: 300px;
    background-color: aqua;

    margin-top: 50px;

    margin-left: 20px;

  }

  .employeeImage{
    position: relative;
    height: 150px ;
    width: 150px;
    background-color: white;
    top: 50px;
    left: 80px;
    border-radius: 50%;
  }

  .employeeImage img{

    width: 150px;
    height: 150px;
    border-radius: 50%;

  }

  .cardlist{

    display: flex;
    justify-content: space-between;
   flex-wrap: wrap;
  }

  p{

    font-family: "Lucida Console";
  }